<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/profile.css">
    <title>Bank</title>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <div class="menudetail">
        <h2>Name</h2>
        <h2>Email</h2>
        <h2 class="balance">Balance</h2>
    </div>
        <div class="menu">
                <div class="menudetails">
                    <h4><%= data.name%></h4>
                    <h4><%= data.email%></h4>
                    <h4><%= data.balance%></h4>
                    <form action="/transfer" method="POST"> 
                        <input type="hidden" name="cname" value="<%= data.name%>"> 
                        <button type="submit" class="btn btn-primary">Transfer</button>
                    </form>
                </div>
        </div>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>